
/**********************************************************
				Authentication Styles
**********************************************************/
#authentication {
	#uniform-days, #uniform-months, #uniform-years {width: auto !important;margin-bottom: 10px;}
	div.radio-inline, div.checkbox-inline {padding: 0;}
	.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {position: relative;margin: 0;}
}
#address {
	.info-title {margin-bottom: 10px;}
}

#order {
	.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {position: relative;margin: 0;top: 1px;}
	.delivery_option_radio {float: none;}
	.delivery_option_price {font-size: 14px;font-weight: bold;}
	#order-detail-content .product-name {margin: 0;
		a {color: #000;}
	}
	.cart_avail .label {border-radius: 0;}
	.cart_unit {
		.price {font-size: 14px;font-weight: bold;}
		.price-percent-reduction {font-weight: normal;}
		.old-price {text-decoration: line-through;font-weight: normal;font-size: 12px;}
	}
	.cart_total,.cart_total_price, .cart_total_delivery {
		.price {font-size: 14px;font-weight: bold;}
	}
}
#days, #months, #years {border: solid 1px #ddd;width: 100%;height: 30px;line-height: 30px;padding: 0 10px;}
#months option {border-right: solid 1px #666;}
.rtl #months option {border-right: none;}