.header_user_info {
  float: right;
  margin-right: -15px; }
  .header_user_info ul li {
    float: left;
    padding: 10px 20px;
    position: relative; }
    .header_user_info ul li:after {
      content: "";
      background: #e5e5e5;
      width: 1px;
      height: 20px;
      top: 9px;
      left: 0;
      position: absolute; }
    .header_user_info ul li.account:after {
      display: none; }

@media (max-width: 768px) {
  .header_user_info ul li.account {
    display: none; } }
@media (max-width: 480px) {
  .header_user_info ul li.wishlist, .header_user_info ul li.checkout {
    display: none; } }
